allow-flight={{ server.allow_flight }}
allow-nether={{ server.allow_nether }}
announce-player-achievements={{ server.announce_player_achievements }}
difficulty={{ server.difficulty }}
enable-command-block={{ server.enable_command_block }}
enable-query={{ server.enable_query }}
enable-rcon={{ server.enable_rcon }}
force-gamemode={{ server.force_gamemode }}
gamemode={{ server.gamemode }}
generate-structures={{ server.generate_structures }}
generator-settings={{ server.generator_settings }}
hardcore={{ server.hardcore }}
level-name={{ server.level_name }}
level-seed={{ server.level_seed }}
level-type={{ server.level_type }}
max-build-height={{ server.max_build_height }}
max-players={{ server.max_players }}
max-tick-time={{ server.max_tick_time }}
max-world-size={{ server.max_world_size }}
motd={{ server.motd }}
network-compression-threshold={{ server.network_compression_threshold }}
online-mode={{ server.online_mode }}
op-permission-level={{ server.op_permission_level }}
player-idle-timeout={{ server.player_idle_timeout }}
pvp={{ server.pvp }}
resource-pack-hash={{ server.resource_pack_hash }}
resource-pack={{ server.resource_pack }}
server-ip={{ server.server_ip }}
server-port={{ server.server_port }}
snooper-enabled={{ server.snooper_enabled }}
spawn-animals={{ server.spawn_animals }}
spawn-monsters={{ server.spawn_monsters }}
spawn-npcs={{ server.spawn_npcs }}
spawn-protection={{ server.spawn_protection }}
use-native-transport={{ server.use_native_transport }}
view-distance={{ server.view_distance }}
white-list={{ server.white_list }}
